.wrapper_all{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background: url(../bcg/background.jpg);
  max-width: 1366px;
  min-height: 768px;
  margin: 0 auto;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
}

a, img{
  text-decoration: none;
  display: block;
  color: #fff;
}

.img{
  max-width: 300px;
  max-height: 220px;
  margin-bottom: 20px;
  position: relative;
}


.header-travel{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}


.logo:hover {
  color: #F26522;
  filter: brightness(0) saturate(100%) invert(46%) sepia(50%) saturate(2907%) 
  hue-rotate(350deg) brightness(100%) contrast(91%);
}

h1{
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  margin-left: 10px;
  padding-top: 7px;
}

.logo-text{
  font-weight: 700;
  font-size: 29px;
  display: block;
}

.contacts {
  text-align: right;
}

.mail{
  margin-bottom: 20px;
}

.mail:hover,
.tel:hover{
  color: #F26522;
}

.wrapper_travel{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.link_travel{
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.link_travel p{
  margin-top: 20px;
  margin-bottom: 35px;
}

.travel_wrap{
  position: relative;
}

.details{
  background-color: #F26522;
  width: 100%;
  height: 55px;
  bottom: 74px;
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
}

.travel_wrap:hover a{
  color:#F26522;
}

.travel_wrap:hover .details{
  opacity: 1;
  color: #fff;
}

.price{
  position: relative;
}

.price::after {
  content: url(../logo/vector.svg);
  position: absolute;
  right: 10px;
  top: 9px;
}

.from{
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  left: 10px;
  bottom: 2px;
}

.euro{
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  left: 10px;
  top: 7px;
}

.view {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  top: 10px;
  right: 30px;
}

.footer_travel{
  margin-top: 10px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}
